<h1>Movies Watch List</h1>
<h2>List: <em><strong><%= @list.name %></em></strong></h2>
<h3>Bookmarks in this list:</h3>

<%= link_to "Add movie (aka bookmark)", new_list_bookmark_path(@list)%>

<% @list.bookmarks.each do |bm| %>
  <div class="card">
    <h3><%= bm.movie.title %></h3>
    <p><%= bm.movie.overview %></p>
    <p><%= bm.comment %></p>
  </div>
  <% end %>
</ul>
